html,
body {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body, #app {
  background: #1d2b53;
}

#app {
  aspect-ratio: 16/9;
  width: 100%;
  max-width: calc(100vh * 16 / 9);
  max-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}

#app canvas {
  width: 100%;
  height: 100%;
  background-color: transparent;
  touch-action: none;
  pointer-events: all;
  display: block;
}